<div id="app-wrapper">
  <div class="form-group form-inline">
    <form ng-submit="vm.search()">
      <input type="text" ng-model="vm.searchItem" class="form-control" placeholder="Search..."/>
      <button ng-click="vm.search()" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div ng-repeat="repo in vm.repos" class="result">
    <div class="result-title">
      <a href="stats?repo={{repo.name}}">{{ repo.name }}</a>
    </div>
    <div class="result-description">
      {{ repo.description }}
    </div>
  </div>
</div>
